header{
    align-items: center;
    text-size-adjust: 50;
    text-justify: auto;
    align-content: center;
    align-self: center;
    background-color: grey;
    size-adjust: 100%;
    
    
}
nav{
    text-align: center;
    color: aqua;
    cursor:crosshair;
}
header h1{
    text-align: center;
    color: gold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}
header a:hover{
    color: #ff4a4a;
    background-color: rgb(200, 200, 200);
    border-radius: 0cap;
}

body {
    
    margin: 0;
    
    height: 200vh;
    padding: 10;
    background-image: url(/img/popcorn_bg.jpg);
    

  }

body h2{
    color: #fe0000;
    margin: 10;
    border-radius: 8px;
    padding: 100;
}
body p{
    
    color: rgb(0, 0, 0);
    
}
html{
    background-color: rgb(0, 0, 0);
    padding: auto;
}

header img{
    
    
    display: block;
}
.fullscreen-image{
    width: 100vw;
  height: 20vh;
  object-fit: cover;
  display: block;
}

footer{
    background-color: rgb(0, 255, 34);
    
    resize: vertical;
    
    width: 100vw;
    height: 200;
    
}

.section_bulle{
    padding: 30;
    margin: 10;
    background-color: rgb(0, 255, 255);
    border-radius: 8px;
    box-shadow: inset;
    -moz-box-align: center;
    text-align: center;
}

.section_bulle p{
    text-align: left;
}

.div1{
    display:flex;
    margin: 10px;
}