header{
    align-items: center;
    text-size-adjust: 50;
    text-justify: auto;
    align-content: center;
    align-self: center;
    background-color: #fe0000;
    size-adjust: 100%;
    
}
nav{
    text-align: center;
}
header h1{
    text-align: center;
    color: #56e00b;
    
    
}
header a:hover{
    color: #fbeb0c;
    background-color: aqua;
    border-radius: 0cap;
}

body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #87CEFA, #ffffff);
    height: 200vh;
  }

body h2{
    color: #fe0000;
}
body p{
    
    color: brown;
}
html{
    margin: 0;
    padding: auto;
}