header{
    align-items: center;
    text-size-adjust: 50;
    text-justify: auto;
    align-content: center;
    align-self: center;
    background-color: #fe0000;
    size-adjust: 100%;
    
}
nav{
    text-align: center;
}
header h1{
    text-align: center;
    color: #4c4c4cdd;
    
    
}
header a:hover{
    color: #ff4a4a;
    background-color: rgb(200, 200, 200);
    border-radius: 0cap;
}

body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #e6e6e6, #ffffff);
    height: 200vh;
  }

body h2{
    color: #fe0000;
}
body p{
    
    color: rgb(255, 0, 0);
}
html{
    margin: 0;
    padding: auto;
}